<html lang="en">

<head>
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="content">
        <h1 class="header">QR CODE GENERATOR</h1>
        <p>Please type the URL or Text below and click Generate!</p>
        <form class="form" action="/scan" method="POST">
            <input name="url" placeholder="URL or Text" type="text" required>
            <br>
            <button class="bn632-hover bn26" type="submit" value="Get QR" class="btn">Button</button>
        </form>
    </div>

</body>

</html>