@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  font-family: Montserrat;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

p {
  text-align: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 24px;
}

.content {
  align-items: center;
  background-color: white;
  border: 1px solid #5c5c5c;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  justify-content: flex-start;
  margin: auto;
  padding: 12px;
  position: relative;
}

.bn39 {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  bottom: 5%;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 1.4em;
  font-weight: 600;
  height: 50px;
  padding: 4px;
  position: absolute;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn39:hover {
  color: #fff;
}

.bn632-hover {
  background-size: 300% 100%;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 55px;
  margin: 20px;
  moz-transition: all 0.4s ease-in-out;
  text-align: center;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 160px;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
